* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background: #fff;
  font: 14px sans-serif;
  color: #333;
}

.repository {
  display: flex;
  flex-direction: column;
  margin: 24px 16px;
}

.repository .techs {
  align-self: flex-start;
}
.repository .title {
  align-self: stretch;
}

.repository li {
  display: flex;
  margin-bottom: 10px;
  list-style: none;
}





.repository li span {
  font-size: 16px;
  font-weight: 700;
}

.rowInput {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 16px;
}

.addRepository {
  box-shadow: 0 10px 15px #00000017;
  font-size: 16px;
  border: 0;
  flex: 1;
  margin-bottom: 16px;
  border-radius: 4px;
  padding: 16px;
  background-color: #F5F5F5;
}
.rowInput button {
  background: #1EFF42;
  color: #fff;
  border: 0;
  height: 50px;
  cursor: pointer;
  font-weight: 900;
  font-size: 12px;
  border-radius: 4px;
  margin-left: -85px;
}
.rowInput button:hover {
  background: #11e233;
}

.title {
  flex: 1;
  color: #333;
  background-color: #F5F5F5;
  border-radius: 4px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
}
.title span {
  font-weight: bold;
}

button {
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  border-radius: 4px;
}

.title button:hover {
  margin: 0 30px;
  background: #FF6464;
}
.title button {
  margin: 0 30px;
  background: #dbdbdb;
}

.likes {
  padding: 4px;
  border-radius: 4px;
  margin: 2px;
  font-weight: bold;
  color: #f5f5f5;
  background-color: #7159c1;
}

.techs > span {
  margin: 16px;
  padding: 4px;
  border-radius: 4px;
  margin: 2px;
  font-weight: normal;
  color: #333;
  background-color: #D3CBEC;
}
